# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# NPM
.npm
.npmrc

# Editor Files
.idea/**
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS Files
.DS_Store
